.search-input-container {
  padding: 0 1.5rem 1rem;
}

.no-results-container {

  img {
    position: absolute;
    bottom: 7rem;
    left: 7rem;
  }

  &.lds-grid {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 15rem;
    left: 11.5rem;

    &:after {
      content: "Cargando...";
      position: relative;
      top: 4rem;
      right: 4px;
    }

    div {
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background:rgb(141, 141, 141);
      animation: lds-grid 1.2s linear infinite;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          @if $i == 1 {
            top: 6px;
            left: 6px;
            animation-delay: 0s;
            
          } @else if $i == 2 {
            top: 6px;
            left: 26px;
            animation-delay: -0.4s;
          } @else if $i == 3 {
            top: 6px;
            left: 45px;
            animation-delay: -0.8s;
          } @else if $i == 4 {
            top: 26px;
            left: 6px;
            animation-delay: -0.4s;
          } @else if $i == 5 {
            top: 26px;
            left: 26px;
            animation-delay: -0.8s;
          } @else if $i == 6 {
            top: 26px;
            left: 45px;
            animation-delay: -1.2s;
          } @else if $i == 7 {
            top: 45px;
            left: 6px;
            animation-delay: -0.8s;
          } @else if $i == 8 {
            top: 45px;
            left: 26px;
            animation-delay: -1.2s;
          } @else if $i == 9 {
            top: 45px;
            left: 45px;
            animation-delay: -1.6s;
          }
        }
      }
    }


  }
  // &.lds-grid div {
  //   position: absolute;
  //   width: 13px;
  //   height: 13px;
  //   border-radius: 50%;
  //   background: rgb(141, 141, 141);
  //   animation: lds-grid 1.2s linear infinite;
  // }
  // &.lds-grid div:nth-child(1) {
  //   top: 6px;
  //   left: 6px;
  //   animation-delay: 0s;
  // }
  // &.lds-grid div:nth-child(2) {
  //   top: 6px;
  //   left: 26px;
  //   animation-delay: -0.4s;
  // }
  // &.lds-grid div:nth-child(3) {
  //   top: 6px;
  //   left: 45px;
  //   animation-delay: -0.8s;
  // }
  // &.lds-grid div:nth-child(4) {
  //   top: 26px;
  //   left: 6px;
  //   animation-delay: -0.4s;
  // }
  // &.lds-grid div:nth-child(5) {
  //   top: 26px;
  //   left: 26px;
  //   animation-delay: -0.8s;
  // }
  // &.lds-grid div:nth-child(6) {
  //   top: 26px;
  //   left: 45px;
  //   animation-delay: -1.2s;
  // }
  // &.lds-grid div:nth-child(7) {
  //   top: 45px;
  //   left: 6px;
  //   animation-delay: -0.8s;
  // }
  // &.lds-grid div:nth-child(8) {
  //   top: 45px;
  //   left: 26px;
  //   animation-delay: -1.2s;
  // }
  // &.lds-grid div:nth-child(9) {
  //   top: 45px;
  //   left: 45px;
  //   animation-delay: -1.6s;
  // }

  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
}

.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 450px;
  width: 450px;
  
  .container {
    border: 1px solid #DEE7E3;
    box-shadow: 1px 1px 3px #ADAFB7;
    max-height: 600px;
    height: 600px;
    overflow: hidden;
  }

  .header {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    color: white;
    text-align: left;

    img {
      width: 5rem;
      height: 5rem;
    }

    .pull-right {
      text-align: right;
      width: 16rem;
      float: right;
      position: absolute;
      right: .5rem;
      top: 3.5rem;
      font-size: 9px;

      span:not([role="img"]) {
        display: block;

        a {
          color: #f3f3f3;
          text-decoration: underline;
          transition: .3s;

          &:hover {
            color: #F2E291;
          }
        }
      }
    }
  }

  .tabs.is-boxed a:hover {
    background: #fefefe;
  }
}

/**
Mercado Libre Product
*/
.products-container {
  background: #eee;
  padding-top: .5rem;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  max-height: 386px;
  min-height: 386px;

  ul {
    height: auto;
  
    li {
      padding: 1.5rem 0;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
      border-radius: 4px;
      width: 95%;
      margin: 5px auto;
      transition: .2s;
      cursor: pointer;
  
      &:hover {
        box-shadow: 0 0px 2px 0 rgb(0, 0, 0), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
      }

      .media-content {
        .title {
          font-weight: 300;
        }

        .subtitle {
          font-weight: 700;
        }
      } 
    }
  }

  .product-tile {
    padding-left: 1rem;
  }
}
